# The Blue Alliance API Key
# Get your API key from: https://www.thebluealliance.com/account
# This is only needed for local development. In production, this is injected via GitHub secrets.
VITE_TBA_API_KEY=bqCD3TewYfymTlWfDccvrYUBNCrImmp3k87AyAI5h2Z3cyExf4azAbdHw0LpLDWk
